<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>Your settings have been updated</h2>
<p><%= @user.email %></p>
<p>
  You have successfully updated your settings!
</p>
<p>Have a great day!</p>
