<%= image_tag attachments['logo.png'].url, alt: 'Logo' %>
<h2>Welcome to Shortener</h2>
<p><%= @user.email %></p>
<p>
  You have successfully signed up to use the best URL shortener around!
</p>
<p>Thanks for joining and have a great day!</p>
