<div class="container">
  <div class="col-md-offset-2 col-md-7">
    <div class="panel panel-default">
      <div class="panel body">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 text-center">
            <h4><%= link_to full_url(@link), redirect_url_path(@link.short_url) %></h4> links to <h4><%= @link.long_url %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
