<div class="container">
  <div id="home">
    <%= render partial: 'shorten', locals: { link: @link } %>
  </div>
</div>
<table id="link_table" class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Clicks</th>
      <th>URL</th>
      <th>Shortened</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.clicks %></td>
        <td><%= link.long_url %></td>
        <td><%= link_to full_url(link), link_path(link.short_url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
