@import "bootstrap";

body {
    padding-top: 60px;
}

/* navbar */
.navbar-default {
    background-color: #0099CC;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #0FF;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:focus ,
.navbar-default .navbar-nav > li > a:hover { 
    color: #0FF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #0099CC;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #0099CC;
    background-color: #D5D5D5;
}
.account.well {
    width: 600px;
    margin: 0px auto;
    overflow: auto;
}

.panel-default > .panel-heading {
    color: #FFF;
    background-color: #0099CC;
    border-color: #ddd;
}

